*{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal; 
}

.mainContent{
    @apply w-full h-full p-4 bg-background;
}

 ion-toolbar {
    --background: #1C878F;
    --color: white;
}

body {
    background-color: #F0F8FF;
  }

ion-content {
--background: #F0F8FF !important; /* Fuerza el fondo */
}
  