ion-toolbar {
    --background: #3AAAA8;
    --color: white;
  
    --border-color: #3AAAA8;
    --border-width: 4px 0;
    --border-style: double;
  
    --min-height: 1px;
    --padding-top: 1px;
    --padding-bottom: 1px;
  } 
  
  