.container {
  background: #F0F8FF;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 20px;
  max-width: calc(126vw - 258px) !important;
}

.receipt {
  width: 80mm;
  height: auto;
  background: #fff;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 5px 5px 19px #ccc;
  transform: scale(1.0);
  transform-origin: top center;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
  font-size: 10px;
}

.table-header,
.table-row {
  display: flex !important;
  justify-content: space-between;
}

.table-descripcion {
  margin-top: 15px;
  /*border-top: 1px dashed #000;*/
  /*border-bottom: 1px dashed #000;*/
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -1.5rem;
}

.table-row span {
  font-family: Open Sans;
  font-size: 11px;
  padding: 0 8px; 
  text-align: left;
}

.table-row {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.row-top {
  font-weight: bold;
  font-size: 10px;
  color: #555;
  margin-bottom: 3px;
}
.descrip {
  margin-left: 0.5rem;
  padding: 0 0px 12px 0;
}
.totals {
  margin-left: 0.5rem;
  padding: 0 0px 12px 0;
}
.encabezados {
  font-weight: bold;
    font-size: 13px;
}
.row-bottom {
  font-size: 11px;
}

.row-top span, .row-bottom span {
  flex: 1;
  text-align: left;
  padding: 0 8px;
}

.row-top span:nth-child(1),
.row-bottom span:nth-child(1) { 
  width: 18% !important;
  text-align: center;
}

.row-top span:nth-child(2),
.row-bottom span:nth-child(2) { /* DESCR */
  width: 100%  !important; 
  text-align: left;
  margin-left: 2rem !important;
}


.row-top span:nth-child(3),
.row-bottom span:nth-child(3) { /* PUNIT */
  width: 20%  !important;
  text-align: right;
}

.row-top span:nth-child(4),
.row-bottom span:nth-child(4) { /* TOT */
  width: 20%  !important;
  text-align: right;
}

.producto-separator {
  width: 100%;
  border-top: 1px dashed #ddd;
  margin: 8px 0;
}


.table-header {
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px dashed #000;
}

.table-producto {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-left, .producto-left {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.header-right, .producto-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.producto-separator {
  width: 100%;
  border-top: 1px dashed #ddd;
  margin-top: 8px;
  margin-bottom: 8px;
}

.paymentDetails,
.creditDetails {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.total {
  text-align: center;
  margin: 10px 0;
  font-family: Open Sans;
  margin-top: 22px;
}

.detail {
  text-align: left;
  font-size: 12px;
  font-family: Open Sans;
}

.address,
.transactionDetails {
  font-size: 10px;
  margin-bottom: 10px;
  font-family: Open Sans;
}

.centerItem,
.tripSummary {
  font-size: 1rem;
  margin-top: 15px;
  font-family: Open Sans;
}

.content-total {
  margin-block-start: -17px;
  font-size: 13px;
  margin-block-end: 9px;
  font-family: Open Sans;
  padding: 13px;
}

.receipt .address {
  font-size: 10px;
  font-family: Open Sans;
}

.receipt .transactionDetails {
  font-size: 13px;
  margin-bottom: 10px;
  font-family: Open Sans;
}

.receipt .total,
.paymentDetails {
  font-size: 14px;
  font-family: Open Sans;
}

.receipt .centerItem {
  font-size: 12px;
  margin-bottom: 8px;
  font-family: Open Sans;
}

.feedback {
  font-size: 10px;
  text-align: center;
  margin-top: 15px;
  font-family: Open Sans;
}

span {
  padding: 5px;
}

strong {
  font-size: 16px;
}

.transactio {
  font-size: 10px;
  font-family: Open Sans;
}

.logo {
  text-align: center;
}
