

/* Estilos para la lista de la tabla */
.table-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0;
}

/* Estilos para la cabecera de la tabla */
.table-header {
    --background: #3AAAA8;
    --color: white;
    --border-radius: 8px 8px 0 0;
}

/* Estilos para los bordes entre filas */
.table-row {
    --border-bottom: 1px solid #ddd;
    --width: 80%;

}

/* Estilos para las celdas que contienen texto alineado a la derecha */
.table-cell-end {
    text-align: right;
}

/* Imagen ajustada al tamaño */
.product-image {
    --width: 80%;
}

/* Estilos para los botones */
.button-pay {
    width: 100%;
    --background: #03BB85; /* Color verde para pagar */
}

.button-cancel {
    --background: #dc3545; /* Color rojo para cancelar */
}

.ion-add-article {
    --background: #03BB85; /* Color verde para pagar */
}
